.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

.Screen {
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  max-width: 36rem;
}

.Button {
  -webkit-appearance: button;
  border-radius: 0.25em;
}

.ButtonGroup {
  margin-top: 2rem;
}

.ButtonGroup > .Button + .Button {
  margin-left: 1rem;
}

.TextButton {
  border: none;
  font-size: 1rem;
  color: blue;
  text-decoration: underline;
}